name: Deploy the app release assets

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:  #_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.4'
        channel: 'stable'

    - name: Get Flutter dependencies
      run: flutter pub get

    # - name: Run unit tests
    #   run: flutter test

    - name: Build Android APK
      run: flutter build apk --release

    # Upload build artifact for debugging
    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        path: build/app/outputs/flutter-apk/app-release.apk

  release-apk:
    needs: build #_and_test
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required for creating releases
    
    steps:
    - name: Download APK artifact
      uses: actions/download-artifact@v4
      with:
        name: app-release-apk

    - name: Display structure of downloaded files
      run: ls -la

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: app-release.apk
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
